@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --silver-hover: rgb(219 232 237);
    --silver: rgb(168 191 201);
    --navy-semi: rgb(31 54 65);
    --navy-dark: rgb(26 42 51);
    --yellow-hover: rgb(255 200 96);
    --yellow: rgb(242 177 55);
    --blue-hover: rgb(101 233 228);
    --blue: rgb(49 195 189);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

button {
    background-color: inherit;
    border: none;
    padding: 0;
    outline: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
}

svg {
    fill: var(--silver);
}

.btn {
    /* box-shadow: inset 0 -4px 0 0 #6B8997; */
    border-radius: 0.625rem;
    color: var(--navy-dark);
}

body {
    font-family: "Outfit", sans-serif;
}

.heading {
    font-size: 2.5rem;
    letter-spacing: 2.5px;
    font-weight: 700;
}

.heading-m {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    font-weight: 700;
}

.heading-s {
    font-size: 1.25rem;
    letter-spacing: 1.25px;
    font-weight: 700;
}

.heading-xs {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
}

.body {
    font-size: 0.875rem;
    letter-spacing: 0.8px;
    font-weight: 500;
}

.start-screen {
    /* display: none !important; */
}

.game {
    display: none !important;
}

.result-overlay {
    display: none !important;
}

.app {
    position: relative;
    background-color: var(--navy-dark);
    width: 100vw;
    height: 100vh;
}

.result-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 0.7);
    display: flex;
    align-items: center;
}

.result-wrapper {
    background-color: var(--navy-dark);
    width: 100%;
    height: 16.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.restart-popup {
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: fit-content;

    /* justify-content: center; */

    & h1 {
        color: var(--silver);
    }
}

.restart-buttons {
    display: flex;
    gap: 1rem;

    & button {
        padding: 1rem;
    }

    & button:nth-of-type(1) {
        background-color: var(--silver);
        box-shadow: inset 0 -8px 0 0 #6B8997;
    }

    & button:nth-of-type(2) {
        background-color: var(--yellow);
        box-shadow: inset 0 -8px 0 0 #CC8B13;
    }
}

.game-result {
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: fit-content;

    & .icon-image {
        width: 4rem;
        height: 4rem;
    }

    & h1,
    p {
        color: var(--silver);
    }

    & button:nth-of-type(1) {
        background-color: var(--silver);
        box-shadow: inset 0 -8px 0 0 #6B8997;
    }

    & button:nth-of-type(2) {
        background-color: var(--yellow);
        box-shadow: inset 0 -8px 0 0 #CC8B13;
    }
}

.round-winner-icon {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    & h1 {
        color: var(--blue);
    }
}

.round-buttons {
    display: flex;
    gap: 1rem;

    & button {
        padding: 1rem;
    }
}

.start-screen {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-screen-wrapper {
    width: 28.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.player-select {
    padding: 1rem;
    background-color: var(--navy-semi);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    & p {
        color: var(--silver);
    }
}

.player-mark {
    width: 100%;
    background-color: var(--navy-dark);
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.player-mark button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 5rem;
    width: 100%;
    border-radius: 0.5rem;
    color: var(--silver);
    /* cursor: pointer; */
}

.player-mark button.active {
    color: var(--navy-dark);
    background-color: var(--silver);
}

.player-mark svg {
    width: 2rem;
    height: 2rem;
}

.player-mark svg path {
    fill: currentColor;
    transform: scale(0.5);
    transform-origin: top left;
    width: 100%;
    height: 100%;
}

.new-game {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;

    & button {
        padding: 1rem;
        width: 100%;
    }

    & button:nth-of-type(1) {
        background-color: var(--yellow);
        box-shadow: inset 0 -8px 0 0 #CC8B13;
    }

    & button:nth-of-type(2) {
        background-color: var(--blue);
        box-shadow: inset 0 -8px 0 0 #118C87;
    }
}