@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --silver-hover: rgb(219 232 237);
    --silver: rgb(168 191 201);
    --navy-semi: rgb(31 54 65);
    --navy-dark: rgb(26 42 51);
    --yellow-hover: rgb(255 200 96);
    --yellow: rgb(242 177 55);
    --blue-hover: rgb(101 233 228);
    --blue: rgb(49 195 189);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

button {
    background-color: inherit;
    border: none;
    padding: 0;
    outline: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
}

svg {
    fill: var(--silver);
}

.btn {
    border-radius: 0.625rem;
    color: var(--navy-dark);
}

body {
    font-family: "Outfit", sans-serif;
}

.heading {
    font-size: 2.5rem;
    letter-spacing: 2.5px;
    font-weight: 700;
}

.heading-m {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    font-weight: 700;
}

.heading-s {
    font-size: 1.25rem;
    letter-spacing: 1.25px;
    font-weight: 700;
}

.heading-xs {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
}

.body {
    font-size: 0.875rem;
    letter-spacing: 0.8px;
    font-weight: 500;
}

.start-screen {
    display: none;
    height: 100%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.game {
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.app {
    position: relative;
    background-color: var(--navy-dark);
    width: 100vw;
    min-height: 100vh;
}

.result-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 0.7);
    align-items: center;
}

.result-overlay.show {
    display: flex;
}

.result-wrapper {
    background-color: var(--navy-dark);
    width: 100%;
    height: 16.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.restart-popup {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: fit-content;

    & h1 {
        color: var(--silver);
    }
}

.restart-popup.show {
    display: flex;
}

.restart-buttons {
    display: flex;
    gap: 1rem;

    & button {
        padding: 1rem;
    }

    & button:nth-of-type(1) {
        background-color: var(--silver);
        box-shadow: inset 0 -8px 0 0 #6B8997;
    }

    & button:nth-of-type(2) {
        background-color: var(--yellow);
        box-shadow: inset 0 -8px 0 0 #CC8B13;
    }

    & button:nth-of-type(1):hover,
    button:nth-of-type(1):focus-visible {
        background-color: var(--silver-hover);
        box-shadow: inset 0 -8px 0 0 #6B8997;
    }

    & button:nth-of-type(2):hover,
    button:nth-of-type(2):focus-visible {
        background-color: var(--yellow-hover);
        box-shadow: inset 0 -8px 0 0 #CC8B13;
    }
}

.game-result.show {
    display: flex;
}

.game-result {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    width: fit-content;

    & .icon-image {
        width: 4rem;
        height: 4rem;
    }

    & h1,
    p {
        color: var(--silver);
    }

    & button:nth-of-type(1) {
        background-color: var(--silver);
        box-shadow: inset 0 -8px 0 0 #6B8997;
    }

    & button:nth-of-type(2) {
        background-color: var(--yellow);
        box-shadow: inset 0 -8px 0 0 #CC8B13;
    }

    & button:nth-of-type(1):hover,
    button:nth-of-type(1):focus-visible {
        background-color: var(--silver-hover);
        box-shadow: inset 0 -8px 0 0 #6B8997;
    }

    & button:nth-of-type(2):hover,
    button:nth-of-type(2):focus-visible {
        background-color: var(--yellow-hover);
        box-shadow: inset 0 -8px 0 0 #CC8B13;
    }
}

.round-winner-icon {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    & h1 {
        color: var(--blue);
    }
}

.round-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    & button {
        padding: 1rem;
    }
}

.start-screen-wrapper {
    width: 28.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.player-select {
    padding: 1rem;
    background-color: var(--navy-semi);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;

    & p {
        color: var(--silver);
    }
}

.player-mark {
    width: 100%;
    background-color: var(--navy-dark);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

input[type="radio"] {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.player-mark label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 5rem;
    width: 100%;
    border-radius: 0.5rem;
    color: var(--silver);
    background-color: var(--navy-dark);
}



input[type="radio"]:checked+label {
    color: var(--navy-dark);
    background-color: var(--silver);
}

label:hover:not(.active) {
    opacity: 0.7;
    background-color: var(--navy-semi)
}


.player-mark svg {
    width: 2rem;
    height: 2rem;
}

.player-mark svg path {
    fill: currentColor;
    transform: scale(0.5);
    transform-origin: top left;
    width: 100%;
    height: 100%;
}

.new-game {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;

    & button {
        padding: 1rem;
        width: 100%;
    }

    & button:nth-of-type(1) {
        background-color: var(--yellow);
        box-shadow: inset 0 -8px 0 0 #CC8B13;
    }

    & button:nth-of-type(2) {
        background-color: var(--blue);
        box-shadow: inset 0 -8px 0 0 #118C87;
    }

    & button:nth-of-type(1):hover,
    button:nth-of-type(1):focus-visible {
        background-color: var(--yellow-hover);
        box-shadow: inset 0 -8px 0 0 #CC8B13;
    }

    & button:nth-of-type(2):hover,
    button:nth-of-type(2):focus-visible {
        background-color: var(--blue-hover);
        box-shadow: inset 0 -8px 0 0 #118C87;
    }
}

.game {}

.game-wrapper {
    width: 28.75rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.game-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 4.45rem;
    height: 2rem;
}

.current-turn {
    width: 8.75rem;
    height: 3.25rem;
    background-color: var(--navy-semi);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.625rem;
    gap: 0.8125rem;

    & svg {
        width: 1.3rem;
        height: 1.3rem;
    }

    & p {
        color: var(--silver);
    }
}

.current-turn svg path {
    fill: currentColor;
    transform: scale(0.317);
    transform-origin: top left;
    width: 100%;
    height: 100%;
    color: var(--silver);
}

.restart {
    width: 3.25rem;
    height: 3.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--silver);
    border-radius: 0.625rem;
    box-shadow: inset 0 -8px 0 0 #6B8997;
}

.restart:hover,
.restart:focus-visible {
    background-color: var(--silver-hover);
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
}

.cell {
    background-color: var(--navy-semi);
    width: 8.75rem;
    height: 8.75rem;
    border-radius: 0.9375rem;
    box-shadow: inset 0 -8px 0 0 #10212A;
    cursor: pointer;
}

.score-count {
    width: 100%;
    display: flex;
    gap: 1.25rem;

    & input {
        width: 100%;
        text-align: center;
        background-color: transparent;
        border: none;
        color: var(--navy-dark);

    }
}

.x-score,
.tied-score,
.circle-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--navy-dark);
    border-radius: 0.9375rem;
    padding: 1rem;
}

.x-score {
    background-color: var(--blue);
}

.tied-score {
    background-color: var(--silver);
}

.circle-score {
    background-color: var(--yellow);
}

.cell.x {
    background-image: url("./assets/icon-x.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 45.7%;
}

.cell.o {
    background-image: url("./assets/icon-o.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 45.7%;
}

.board.turn-x .cell:hover:not(.o):not(.x) {
    background-image: url("./assets/icon-x-outline.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 45.7%;
}

.board.turn-o .cell:hover:not(.o):not(.x) {
    background-image: url("./assets/icon-o-outline.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 45.7%;
}